
*{margin: 0;padding: 0;}
body{font-family: "微软雅黑",Arail}
/*//---------classify-------------------*/
.ify,.ify img{
    width:100%;
    height:100%;

}
#classifyContent .scroll{
    height:40%;
}

#classifyContent .slider{height:100%;}

#classifyContent .classIfyImg img{display: block;width:100%}

/*-----------seek --------------*/
#seek-bunSeek .seekBut{margin: 5px;}

/*-------------------------------tour------------------*/
#tour-view .scroll{
    height:50%;
}
#tour-view .scroll .slider{
    height:50%;
}
#tour-view .slider-slide{
    text-align: center;
    padding-top: 100px;
}
#tour-view .slide-icon img{
    display: inline-block;
    width:50%;
    height:100%;
}
/*------------------me---------------------------*/
#meAge .meAge-tuRight{
    right:30px;
    left:auto;
    font-size: 18px;
    color:#c0c0c0;
}