<ion-view view-title="我">
        <ion-nav-buttons side="right">
            <div class="button button-calm button-clear" style="color:#fff;font-size: 14px;"> 编辑资料</div>
        </ion-nav-buttons>

        <ion-content id="meAge">
            <ion-list class="bar-assertive">
                    <span class="item item-avatar" style="background:rgba(0,0,0,0.72);color:#fff;">
                        <img src="images/zzz.jpg">
                        <h2 style="color: #fff;">Jiv.4</h2>
                        <p style="color: #fff;">升级经验：225/230</p>
                    </span>
            </ion-list>
            <div class="list">
                <a class="item item-icon-left" href="#tabs/xiaoxi">
                    <i class="icon ion-ios-bell" style="color:red;"></i>
                    消息
                    <span class="badge badge-assertive">0</span>
                </a>
                <a class="item item-icon-left"  href="#tabs/huati">
                    <i class="icon ion-ios-mic" style="color:#486EFF;"></i>
                    话题
                    <i class="icon ion-ios-arrow-right meAge-tuRight"></i>
                </a>
                <a class="item item-icon-left" href="#tabs/huati">
                    <i class="icon ion-ios-paper" style="color:#DCA452;"></i>
                    书单
                    <i class="icon ion-ios-arrow-right meAge-tuRight"></i>
                </a>
            </div>
            <div class="list">
                <a class="item item-icon-left" href="#tabs/xiaoxi">
                    <i class="icon ion-ios-bookmarks" style="color:#0A8410;"></i>
                    我的账户
                    <i class="icon ion-ios-arrow-right meAge-tuRight"></i>
                </a>
                <a class="item item-icon-left" href="#tabs/xiaoxi">
                    <i class="icon ion-ribbon-a" style="color:#486EFF;"></i>
                    经验等级
                    <i class="icon ion-ios-arrow-right meAge-tuRight"></i>
                </a>
            </div>
            <div class="list">
                <a class="item item-icon-left" href="#tabs/xiaoxi">
                    <i class="icon ion-ios-book" style="color:#DCA452;"></i>
                    任务
                    <i class="icon ion-ios-arrow-right meAge-tuRight"></i>
                </a>
                <a class="item item-icon-left" href="#tabs/xiaoxi">
                    <i class="icon ion-ios-cart" style="color:#8C0000;"></i>
                    兑换中心
                    <i class="icon ion-ios-arrow-right meAge-tuRight"></i>
                </a>
                <a class="item item-icon-left" href="#tabs/xiaoxi">
                    <i class="icon ion-ios-rose-outline" style="color:#FF1700;"></i>
                    给追书神奇好评
                    <p><i class="icon ion-ios-arrow-right meAge-tuRight"></i><span style="color:#A80A0C;">+15经验</span></p>
                </a>
            </div>
            <div class="list">
                <a class="item item-icon-left" href="#tabs/xiaoxi">
                    <i class="icon ion-chatbubbles" style="color:#138405;"></i>
                    微信公众号
                    <p><i class="icon ion-ios-arrow-right meAge-tuRight"></i><span style="color:#A80A0C;">送书劵</span></p>
                </a>
            </div>
            <div class="list padding">
                <div class="button button-full button-assertive">退出登录</div>
            </div>
        </ion-content>
 </ion-view>

    <!--<ion-side-menu-content id="meAge">
    </ion-side-menu-content>-->

   <!-- <ion-side-menu side="right">
        &lt;!&ndash;标题&ndash;&gt;
        <ion-header-bar class="bar-calm">编辑资料</ion-header-bar>
        &lt;!&ndash;内容&ndash;&gt;
        <ion-content>
            <div class="list"></div>
            <div class="list">
                <a class="item item-icon-left" href="javascript:;">
                    <i class="icon ion-ios-bell" style="color:red;"></i>
                    消息
                    <span class="badge badge-assertive">0</span>
                </a>
                <a class="item item-icon-left" href="javascript:;">
                    <i class="icon ion-ios-mic" style="color:#486EFF;"></i>
                    话题
                    <i class="icon ion-ios-arrow-right meAge-tuRight"></i>
                </a>
                <a class="item item-icon-left" href="javascript:;">
                    <i class="icon ion-ios-paper" style="color:#DCA452;"></i>
                    书单
                    <i class="icon ion-ios-arrow-right meAge-tuRight"></i>
                </a>
            </div>
        </ion-content>
    </ion-side-menu>-->










