<ion-view view-title="我的消息">
    <ion-content>
        <div class="list"></div>
        <div class="list">
            <a class="item item-icon-left" href="#tabs/xuanHuan">
                <i class="icon ion-ios-bell" style="color:red;"></i>
                通知
               <!-- <span class="badge badge-assertive">0</span>-->
            </a>
        </div>
        <div class="list">
          <span class="padding" style="color:#c0c0c0">已读</span>
        </div>
    </ion-content>
</ion-view>