<ion-view view-title="分类">
    <!--<ion-nav-buttons side="right">
        <div class="button button-clear" ng-click="toTop()">Top</div>
    </ion-nav-buttons>-->
    <ion-content id="classifyContent">
        <ion-slide-box auto-play="true" slide-interval="2000"
                       does-continue="true" show-pager="true"
                       on-slide-changed="slideChanged(index)" pager-click="pagerClick(index)" active-slide="page">
            <ion-slide>
                <div class="ify"><img src="images/AAA7.jpg"></div>
            </ion-slide>
            <ion-slide>
                <div class="ify"><img src="images/AAA6.jpg"></div>
            </ion-slide>
            <ion-slide>
                <div class="ify"><img src="images/AAA5.jpg"></div>
            </ion-slide>
            <ion-slide>
                <div class="ify"><img src="images/AAA4.jpg"></div>
            </ion-slide>
            <ion-slide>
                <div class="ify"><img src="images/AAA3.jpg.gif"></div>
            </ion-slide>
            <ion-slide>
                <div class="ify"><img src="images/AAA2.jpg"></div>
            </ion-slide>
            <ion-slide>
                <div class="ify"><img src="images/AAA1.jpg"></div>
            </ion-slide>
        </ion-slide-box>

        <div class="list"></div>
        <div class="list padding classIfyImg">
            <div class="row">
                <div class="col col-30">
                   <a href="#tabs/xuanHuan"><img src="images/BBB_02.jpg"></a>
                </div>
                <div class="col col-30">
                    <a href="#tabs/xuanHuan"><img src="images/BBB_04.jpg"></a>
                </div>
            </div>
            <div class="row">
                <div class="col col-30">
                    <a href="#tabs/xuanHuan"><img src="images/BBB_06.jpg"></a>
                </div>
                <div class="col col-30">
                    <a href="#tabs/xuanHuan"><img src="images/BBB_10.jpg"></a>
                </div>
            </div>
            <div class="row">
                <div class="col col-30">
                    <a href="#tabs/xuanHuan"><img src="images/BBB_11.jpg"></a>
                </div>
                <div class="col col-30">
                    <a href="#tabs/xuanHuan"><img src="images/BBB_12.jpg"></a>
                </div>
            </div>
            <div class="row">
                <div class="col col-30">
                    <a href="#tabs/xuanHuan"><img src="images/BBBB_01_02.jpg"></a>
                </div>
                <div class="col col-30">
                    <a href="#tabs/xuanHuan"><img src="images/BBBB_01_04.jpg"></a>
                </div>
            </div>
            <div class="row">
                <div class="col col-30">
                    <a href="#tabs/xuanHuan"><img src="images/BBBB_01_06.jpg"></a>
                </div>
                <div class="col col-30">
                    <a href="#tabs/xuanHuan"><img src="images/BBBB_01_10.jpg"></a>
                </div>
            </div>
            <div class="row">
                <div class="col col-30">
                    <a href="#tabs/xuanHuan"><img src="images/BBBB_01_11.jpg"></a>
                </div>
                <div class="col col-30">
                    <a href="#tabs/xuanHuan"><img src="images/BBBB_01_12.jpg"></a>
                </div>
            </div>
            <div class="row">
                <div class="col col-30">
                    <a href="#tabs/xuanHuan"><img src="images/BBBBB_02.jpg"></a>
                </div>
                <div class="col col-30">
                    <a href="#tabs/xuanHuan"><img src="images/BBBBB_04.jpg"></a>
                </div>
            </div>
            <div class="row">
                <div class="col col-30">
                    <a href="#tabs/xuanHuan"><img src="images/BBBBB_06.jpg"></a>
                </div>
                <div class="col col-30">
                    <a href="#tabs/xuanHuan"><img src="images/BBBBB_10.jpg"></a>
                </div>
            </div>
            <div class="row">
                <div class="col col-30">
                    <a href="#tabs/xuanHuan"><img src="images/BBBBB_11.jpg"></a>
                </div>
                <div class="col col-30">
                    <a href="#tabs/xuanHuan"><img src="images/BBBBB_02.jpg"></a>
                </div>
            </div>
        </div>


    </ion-content>
</ion-view>